* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #548687;
}

.heading {
  text-align: center;
  color: #191913;
  margin-top: 20px;
}

.container {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  background-color: #c7c79e;
  color: #b0413e;
  font-size: 8vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.reset-container {
  text-align: center;
}

.reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fdfdfd;
  border-radius: 1rem;
  border: none;
}

.winning-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.hide {
  display: none;
}

.win-msg {
  height: 20vmin;
  width: 55vw;
  background-color: #c7c79e;
  color: #383961;
  font-size: 8vmin;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
